/*button de click form*/
.circleBtn {
    height: 57px;
    width: 57px;
    border-radius: 50%;
    margin: 5%;
    margin-left: 15px;
    border: none;
    background-color: #6c834c;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    outline: none; /* Add this line to remove the outline */

}

.circleBtn:hover {
    background-color: #869f64;
}

.circleBtn:active {
    transform: scale(0.95);
}

/* Remove outline on focus */
.circleBtn:focus {
    outline: none;
}


.chatbot-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px); /* Adjust the blur intensity as needed */
    z-index: 998; /* Ensure the chatbot remains behind the modal */
}



/*input text*/
.msginp {
    width: 100%;
    height: 55px;
    border-radius: 50px;
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    padding-left: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.msginp:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.msginp::placeholder {
    color: #ccc;
    opacity: 1; /* Override default opacity */
}

/*footer*/
.cola {
    height: 65px;
    width: 65px;
    padding-left: 0px;
}

/*l'espacement entre les messages end*/
.msgalignend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px 0;
}


/*l'espacement entre les messages start*/
.msgalignstart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}


.botImage {
    height: 100%; /* Adjust as needed to fit the message height */
    max-height: 50px; /* Example height, adjust as necessary */
    border-radius: 50%;
    margin-right: 10px;
    margin-left:5px;
}

/*bot message and text*/
.botmsg {
    background-color: #dbebd4;
    color: #000000;
    padding: 10px 15px;
    border-radius: 25px;
    max-width: 28rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px; /* Adjust the font size as needed */

}

/*user message and text*/
.usermsg {
    background-color: #7DBA28;
    color: #fff;
    padding: 10px 15px;
    border-radius: 25px;
    max-width: 28rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 12px; /* Adjust the font size as needed */

}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #7DBA28; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #68A022; 
}

/*l'icone de bot*/
.botIcon {
    font-size: 45px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin: 0 10px;
    padding: 5px;
}

/*l'icone de user*/
.userIcon {
    font-size: 40px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 0 10px;
    padding: 5px;
}

/*icone de send button */
.sendBtn {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

/* Card styles */
/*card border*/
.stylecard {
    max-width: 35rem;
    border: 1px solid #7DBA28;
    padding: 0;
    border-radius: 30px;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
}

/*card header*/
.styleHeader {
    height: 4.5rem;
    border-radius: 30px 30px 0 0;
    background-color: #7DBA28;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}

/*card footer*/
.styleFooter {
    border-top: 1px solid #7DBA28;
    border-radius: 0 0 30px 30px;
    background-color: #7DBA28;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*card body*/
.styleBody {
    padding-top: 10px;
    height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    border-radius: 0 0 30px 30px;
}

/* Button styles */
.btn {
    background-color: #77964b;
    color: white;
    border: 1px solid ;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    outline: none; /* Remove outline */
}

.btn:hover {
    background-color: #87a660;
    color: white;
    transform: translateY(-1px);
    
}

.btn:active {
    transform: translateY(0);
}

/* Remove outline on focus */
.btn:focus {
    outline: none;
}
